In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager
plt.style.use('default')
f_path = "C:/windows/Fonts/malgun.ttf"
ko_font = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')
#plt.title('테스트')

In [2]:
import pandas as pd
import numpy as np
from table_evaluator import load_data, TableEvaluator
import sdmetrics
from ctgan import CTGAN

In [3]:
#Data Load

raw = pd.read_csv('C:/Users/82102/OneDrive - dongguk.edu/바탕 화면/캡스톤/data/rawdata.csv')

In [4]:
raw

,저소득층여부,나이,교육수준,혼인상태,가구형태,주택유형,주택점유형태,총생활비,총소득,가구서비스,노인서비스,아동서비스
0,2,78,중등,사별,단독,다가구용단독주택,자가,3300,0,이용,이용,해당없음
1,1,75,초등,사별,단독,다가구용단독주택,보증부월세,2868,2064,이용,이용,해당없음
2,1,81,대학,이혼,단독,일반단독주택,자가,1872,1200,이용,이용,해당없음
3,1,61,전문대,유배우,기타,다가구용단독주택,자가,6492,3216,이용,이용,해당없음
4,2,83,초등,사별,단독,일반아파트,비가구원명의주택,1020,324,이용,이용,해당없음
...,...,...,...,...,...,...,...,...,...,...,...,...
7860,1,42,전문대,유배우,기타,일반아파트,전세,4608,3630,이용,해당없음,이용
7861,1,46,대학,유배우,기타,일반아파트,자가,8580,5100,미이용,해당없음,이용
7862,1,47,대학,유배우,기타,일반아파트,자가,7140,5500,이용,해당없음,이용
7863,1,48,대학,유배우,기타,일반아파트,전세,6744,10350,미이용,해당없음,미이용
7864,1,59,대학,유배우,기타,일반아파트,전세,6168,7880,미이용,해당없음,해당없음

In [5]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7865 entries, 0 to 7864
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   저소득층여부  7865 non-null   int64
 1   나이      7865 non-null   int64
 2   교육수준    7865 non-null   object
 3   혼인상태    7865 non-null   object
 4   가구형태    7865 non-null   object
 5   주택유형    7865 non-null   object
 6   주택점유형태  7865 non-null   object
 7   총생활비    7865 non-null   int64
 8   총소득     7865 non-null   int64
 9   가구서비스   7865 non-null   object
 10  노인서비스   7865 non-null   object
 11  아동서비스   7865 non-null   object
dtypes: int64(4), object(8)
memory usage: 737.5+ KB

In [6]:
from sklearn.model_selection import train_test_split

raw_0025,_ = train_test_split(raw, train_size = .025, random_state = 1)
raw_005,_ = train_test_split(raw, train_size = .05, random_state = 1)
raw_010,_ = train_test_split(raw, train_size = .1, random_state = 1)
raw_020,_ = train_test_split(raw, train_size = .2, random_state = 1)
raw_030,_ = train_test_split(raw, train_size = .3, random_state = 1)
raw_040,_ = train_test_split(raw, train_size = .4, random_state = 1)
raw_050,_ = train_test_split(raw, train_size = .5, random_state = 1)
raw_060,_ = train_test_split(raw, train_size = .6, random_state = 1)
raw_070,_ = train_test_split(raw, train_size = .7, random_state = 1)
raw_080,_ = train_test_split(raw, train_size = .8, random_state = 1)
raw_090,_ = train_test_split(raw, train_size = .9, random_state = 1)
raw_095,_ = train_test_split(raw, train_size = .95, random_state = 1)
raw_0975,_ = train_test_split(raw, train_size = .975, random_state = 1)
raw_0999,_ = train_test_split(raw, train_size = .999, random_state = 1)

# Generate Data_CTGAN

In [7]:
# 범주형 변수 지정
categorical_features = [
    '저소득층여부',
    '교육수준',
    '혼인상태',
    '가구형태',
    '주택유형',
    '주택점유형태',
    '가구서비스',
    '노인서비스',
    '아동서비스'
]

In [8]:
ctgan_0025 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_0025.fit(raw_0025, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_0025 = ctgan_0025.sample(nrow)

Gen. (0.26) | Discrim. (-0.18): 100%|████████████████████████████████████████████████| 150/150 [00:05<00:00, 29.13it/s]

In [9]:
ctgan_005 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_005.fit(raw_005, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_005 = ctgan_005.sample(nrow)

Gen. (0.61) | Discrim. (0.29): 100%|█████████████████████████████████████████████████| 150/150 [00:14<00:00, 10.65it/s]

In [10]:
ctgan_010 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_010.fit(raw_010, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_010 = ctgan_010.sample(nrow)

Gen. (-0.88) | Discrim. (-0.37): 100%|███████████████████████████████████████████████| 150/150 [00:36<00:00,  4.11it/s]

In [11]:
ctgan_020 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_020.fit(raw_020, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_020 = ctgan_020.sample(nrow)

Gen. (-0.49) | Discrim. (-0.13): 100%|███████████████████████████████████████████████| 150/150 [01:18<00:00,  1.92it/s]

In [12]:
ctgan_030 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_030.fit(raw_030, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_030 = ctgan_030.sample(nrow)

Gen. (-0.69) | Discrim. (-0.40): 100%|███████████████████████████████████████████████| 150/150 [01:56<00:00,  1.29it/s]

In [13]:
ctgan_040 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_040.fit(raw_040, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_040 = ctgan_040.sample(nrow)

Gen. (-0.97) | Discrim. (-0.57): 100%|███████████████████████████████████████████████| 150/150 [02:32<00:00,  1.01s/it]

In [14]:
ctgan_050 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_050.fit(raw_050, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_050 = ctgan_050.sample(nrow)

Gen. (-0.66) | Discrim. (-0.23): 100%|███████████████████████████████████████████████| 150/150 [03:22<00:00,  1.35s/it]

In [15]:
ctgan_060 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_060.fit(raw_060, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_060 = ctgan_060.sample(nrow)

Gen. (-1.68) | Discrim. (-0.83): 100%|███████████████████████████████████████████████| 150/150 [04:05<00:00,  1.64s/it]

In [16]:
ctgan_070 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_070.fit(raw_070, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_070 = ctgan_070.sample(nrow)

Gen. (-1.87) | Discrim. (-0.23): 100%|███████████████████████████████████████████████| 150/150 [04:27<00:00,  1.79s/it]

In [17]:
ctgan_080 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_080.fit(raw_080, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_080 = ctgan_080.sample(nrow)

Gen. (-1.44) | Discrim. (-0.14): 100%|███████████████████████████████████████████████| 150/150 [05:30<00:00,  2.21s/it]

In [18]:
ctgan_090 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_090.fit(raw_090, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_090 = ctgan_090.sample(nrow)

Gen. (-0.88) | Discrim. (0.06): 100%|████████████████████████████████████████████████| 150/150 [05:36<00:00,  2.24s/it]

In [19]:
ctgan_095 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_095.fit(raw_095, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_095 = ctgan_095.sample(nrow)

Gen. (-1.37) | Discrim. (0.60): 100%|████████████████████████████████████████████████| 150/150 [05:50<00:00,  2.34s/it]

In [20]:
ctgan_0975 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_0975.fit(raw_0975, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_0975 = ctgan_0975.sample(nrow)

Gen. (-0.79) | Discrim. (-0.05): 100%|███████████████████████████████████████████████| 150/150 [06:20<00:00,  2.54s/it]

In [21]:
ctgan_0999 = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan_0999.fit(raw_0999, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data_0999 = ctgan_0999.sample(nrow)

Gen. (-0.59) | Discrim. (-0.37): 100%|███████████████████████████████████████████████| 150/150 [06:00<00:00,  2.40s/it]

In [22]:
synthetic_data_0025.to_csv('ctgan_0025.csv', encoding='UTF-8-sig')
synthetic_data_005.to_csv('ctgan_005.csv', encoding='UTF-8-sig')
synthetic_data_010.to_csv('ctgan_010.csv', encoding='UTF-8-sig')
synthetic_data_020.to_csv('ctgan_020.csv', encoding='UTF-8-sig')
synthetic_data_030.to_csv('ctgan_030.csv', encoding='UTF-8-sig')
synthetic_data_040.to_csv('ctgan_040.csv', encoding='UTF-8-sig')
synthetic_data_050.to_csv('ctgan_050.csv', encoding='UTF-8-sig')
synthetic_data_060.to_csv('ctgan_060.csv', encoding='UTF-8-sig')
synthetic_data_070.to_csv('ctgan_070.csv', encoding='UTF-8-sig')
synthetic_data_080.to_csv('ctgan_080.csv', encoding='UTF-8-sig')
synthetic_data_090.to_csv('ctgan_090.csv', encoding='UTF-8-sig')
synthetic_data_095.to_csv('ctgan_095.csv', encoding='UTF-8-sig')
synthetic_data_0975.to_csv('ctgan_0975.csv', encoding='UTF-8-sig')
synthetic_data_0999.to_csv('ctgan_0999.csv', encoding='UTF-8-sig')