In [1]:
import sklearn
print(sklearn.__version__)

0.24.0

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager
plt.style.use('default')
f_path = "C:/windows/Fonts/malgun.ttf"
ko_font = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')
#plt.title('테스트')

In [3]:
from model.ctabgan import CTABGAN
from table_evaluator import load_data, TableEvaluator
import numpy as np
import pandas as pd
import glob
#from model.eval.evaluation import get_utility_metrics,stat_sim,privacy_metrics
import sdmetrics

In [4]:
#Data Load

raw = pd.read_csv('C:/Users/82102/OneDrive - dongguk.edu/바탕 화면/캡스톤/data/rawdata.csv')

In [5]:
raw

,저소득층여부,나이,교육수준,혼인상태,가구형태,주택유형,주택점유형태,총생활비,총소득,가구서비스,노인서비스,아동서비스
0,2,78,중등,사별,단독,다가구용단독주택,자가,3300,0,이용,이용,해당없음
1,1,75,초등,사별,단독,다가구용단독주택,보증부월세,2868,2064,이용,이용,해당없음
2,1,81,대학,이혼,단독,일반단독주택,자가,1872,1200,이용,이용,해당없음
3,1,61,전문대,유배우,기타,다가구용단독주택,자가,6492,3216,이용,이용,해당없음
4,2,83,초등,사별,단독,일반아파트,비가구원명의주택,1020,324,이용,이용,해당없음
...,...,...,...,...,...,...,...,...,...,...,...,...
7860,1,42,전문대,유배우,기타,일반아파트,전세,4608,3630,이용,해당없음,이용
7861,1,46,대학,유배우,기타,일반아파트,자가,8580,5100,미이용,해당없음,이용
7862,1,47,대학,유배우,기타,일반아파트,자가,7140,5500,이용,해당없음,이용
7863,1,48,대학,유배우,기타,일반아파트,전세,6744,10350,미이용,해당없음,미이용
7864,1,59,대학,유배우,기타,일반아파트,전세,6168,7880,미이용,해당없음,해당없음

In [6]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7865 entries, 0 to 7864
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   저소득층여부  7865 non-null   int64
 1   나이      7865 non-null   int64
 2   교육수준    7865 non-null   object
 3   혼인상태    7865 non-null   object
 4   가구형태    7865 non-null   object
 5   주택유형    7865 non-null   object
 6   주택점유형태  7865 non-null   object
 7   총생활비    7865 non-null   int64
 8   총소득     7865 non-null   int64
 9   가구서비스   7865 non-null   object
 10  노인서비스   7865 non-null   object
 11  아동서비스   7865 non-null   object
dtypes: int64(4), object(8)
memory usage: 737.5+ KB

In [7]:
# 범주형 변수 지정
categorical_features = [
    '저소득층여부',
    '교육수준',
    '혼인상태',
    '가구형태',
    '주택유형',
    '주택점유형태',
    '가구서비스',
    '노인서비스',
    '아동서비스'
]

real_path = 'C:/Users/82102/OneDrive - dongguk.edu/바탕 화면/캡스톤/data/rawdata.csv'

In [8]:
ctabgan_0025 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .975,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_0025.fit()

# Create synthetic data
synthetic_data_0025 = ctabgan_0025.generate_samples()

synthetic_data_0025 = synthetic_data_0025[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [00:37<00:00,  4.02it/s]

Finished training in 38.09103965759277  seconds.

In [9]:
ctabgan_005 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .95,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_005.fit()

# Create synthetic data
synthetic_data_005 = ctabgan_005.generate_samples()

synthetic_data_005 = synthetic_data_005[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [01:40<00:00,  1.49it/s]

Finished training in 101.41313147544861  seconds.

In [10]:
ctabgan_010 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .9,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_010.fit()

# Create synthetic data
synthetic_data_010 = ctabgan_010.generate_samples()

synthetic_data_010 = synthetic_data_010[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [04:06<00:00,  1.64s/it]

Finished training in 246.74156951904297  seconds.

In [11]:
ctabgan_020 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .8,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_020.fit()

# Create synthetic data
synthetic_data_020 = ctabgan_020.generate_samples()

synthetic_data_020 = synthetic_data_020[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [09:06<00:00,  3.65s/it]

Finished training in 548.00772356987  seconds.

In [12]:
ctabgan_030 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .7,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_030.fit()

# Create synthetic data
synthetic_data_030 = ctabgan_030.generate_samples()

synthetic_data_030 = synthetic_data_030[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [11:12<00:00,  4.48s/it]

Finished training in 673.6171193122864  seconds.

In [13]:
ctabgan_040 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .6,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_040.fit()

# Create synthetic data
synthetic_data_040 = ctabgan_040.generate_samples()

synthetic_data_040 = synthetic_data_040[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [20:57<00:00,  8.38s/it]

Finished training in 1258.8232259750366  seconds.

In [14]:
ctabgan_050 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .5,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_050.fit()

# Create synthetic data
synthetic_data_050 = ctabgan_050.generate_samples()

synthetic_data_050 = synthetic_data_050[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [26:07<00:00, 10.45s/it]

Finished training in 1568.8016347885132  seconds.

In [15]:
ctabgan_060 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .4,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_060.fit()

# Create synthetic data
synthetic_data_060 = ctabgan_060.generate_samples()

synthetic_data_060 = synthetic_data_060[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [31:25<00:00, 12.57s/it]

Finished training in 1886.98490691185  seconds.

In [16]:
ctabgan_070 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .3,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_070.fit()

# Create synthetic data
synthetic_data_070 = ctabgan_070.generate_samples()

synthetic_data_070 = synthetic_data_070[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [36:47<00:00, 14.71s/it]

Finished training in 2208.7421565055847  seconds.

In [17]:
ctabgan_080 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .2,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_080.fit()

# Create synthetic data
synthetic_data_080 = ctabgan_080.generate_samples()

synthetic_data_080 = synthetic_data_080[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [41:48<00:00, 16.72s/it]

Finished training in 2510.4017238616943  seconds.

In [18]:
ctabgan_090 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .1,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_090.fit()

# Create synthetic data
synthetic_data_090 = ctabgan_090.generate_samples()

synthetic_data_090 = synthetic_data_090[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [49:38<00:00, 19.86s/it]

Finished training in 2981.0187532901764  seconds.

In [19]:
ctabgan_095 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .05,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_095.fit()

# Create synthetic data
synthetic_data_095 = ctabgan_095.generate_samples()

synthetic_data_095 = synthetic_data_095[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [56:58<00:00, 22.79s/it]

Finished training in 3420.6358635425568  seconds.

In [20]:
ctabgan_0975 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .025,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_0975.fit()

# Create synthetic data
synthetic_data_0975 = ctabgan_0975.generate_samples()

synthetic_data_0975 = synthetic_data_0975[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [54:10<00:00, 21.67s/it]

Finished training in 3252.735052585602  seconds.

In [21]:
ctabgan_0999 = CTABGAN(raw_csv_path = real_path,
                  test_ratio = .001,
                  categorical_columns = categorical_features,
                  log_columns = [],
                  mixed_columns= {},
                  integer_columns = ['나이', '총소득','총생활비'],
                  problem_type= {"Classification": '저소득층여부'},
                  epochs = 150
                 ) 
ctabgan_0999.fit()

# Create synthetic data
synthetic_data_0999 = ctabgan_0999.generate_samples()

synthetic_data_0999 = synthetic_data_0999[['저소득층여부', '나이', '교육수준', '혼인상태', '가구형태', '주택유형', '주택점유형태', '총생활비',
       '총소득', '가구서비스', '노인서비스', '아동서비스']]

100%|████████████████████████████████████████████████████████████████████████████████| 150/150 [55:08<00:00, 22.05s/it]

Finished training in 3310.8322381973267  seconds.

In [22]:
synthetic_data_0025.to_csv('ctabgan_0025.csv', encoding='UTF-8-sig')
synthetic_data_005.to_csv('ctabgan_005.csv', encoding='UTF-8-sig')
synthetic_data_010.to_csv('ctabgan_010.csv', encoding='UTF-8-sig')
synthetic_data_020.to_csv('ctabgan_020.csv', encoding='UTF-8-sig')
synthetic_data_030.to_csv('ctabgan_030.csv', encoding='UTF-8-sig')
synthetic_data_040.to_csv('ctabgan_040.csv', encoding='UTF-8-sig')
synthetic_data_050.to_csv('ctabgan_050.csv', encoding='UTF-8-sig')
synthetic_data_060.to_csv('ctabgan_060.csv', encoding='UTF-8-sig')
synthetic_data_070.to_csv('ctabgan_070.csv', encoding='UTF-8-sig')
synthetic_data_080.to_csv('ctabgan_080.csv', encoding='UTF-8-sig')
synthetic_data_090.to_csv('ctabgan_090.csv', encoding='UTF-8-sig')
synthetic_data_095.to_csv('ctabgan_095.csv', encoding='UTF-8-sig')
synthetic_data_0975.to_csv('ctabgan_0975.csv', encoding='UTF-8-sig')
synthetic_data_0999.to_csv('ctabgan_0999.csv', encoding='UTF-8-sig')