In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

from matplotlib import rc
%matplotlib inline
from matplotlib import font_manager
plt.style.use('default')
f_path = "C:/windows/Fonts/malgun.ttf"
ko_font = font_manager.FontProperties(fname=f_path).get_name()
rc('font', family='Malgun Gothic')
#plt.title('테스트')

In [2]:
import pandas as pd
import numpy as np
from table_evaluator import load_data, TableEvaluator
import sdmetrics
from ctgan import CTGAN

In [3]:
#Data Load

raw = pd.read_csv('C:/Users/82102/OneDrive - dongguk.edu/바탕 화면/캡스톤/data/rawdata.csv')

In [4]:
raw

,저소득층여부,나이,교육수준,혼인상태,가구형태,주택유형,주택점유형태,총생활비,총소득,가구서비스,노인서비스,아동서비스
0,저소득층가구,78,중등,사별,단독,다가구용단독주택,자가,3300,0,이용,이용,해당없음
1,일반가구,75,초등,사별,단독,다가구용단독주택,보증부월세,2868,2064,이용,이용,해당없음
2,일반가구,81,대학,이혼,단독,일반단독주택,자가,1872,1200,이용,이용,해당없음
3,일반가구,61,전문대,유배우,기타,다가구용단독주택,자가,6492,3216,이용,이용,해당없음
4,저소득층가구,83,초등,사별,단독,일반아파트,비가구원명의주택,1020,324,이용,이용,해당없음
...,...,...,...,...,...,...,...,...,...,...,...,...
7860,일반가구,42,전문대,유배우,기타,일반아파트,전세,4608,3630,이용,해당없음,이용
7861,일반가구,46,대학,유배우,기타,일반아파트,자가,8580,5100,미이용,해당없음,이용
7862,일반가구,47,대학,유배우,기타,일반아파트,자가,7140,5500,이용,해당없음,이용
7863,일반가구,48,대학,유배우,기타,일반아파트,전세,6744,10350,미이용,해당없음,미이용
7864,일반가구,59,대학,유배우,기타,일반아파트,전세,6168,7880,미이용,해당없음,해당없음

In [5]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7865 entries, 0 to 7864
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   저소득층여부  7865 non-null   object
 1   나이      7865 non-null   int64
 2   교육수준    7865 non-null   object
 3   혼인상태    7865 non-null   object
 4   가구형태    7865 non-null   object
 5   주택유형    7865 non-null   object
 6   주택점유형태  7865 non-null   object
 7   총생활비    7865 non-null   int64
 8   총소득     7865 non-null   int64
 9   가구서비스   7865 non-null   object
 10  노인서비스   7865 non-null   object
 11  아동서비스   7865 non-null   object
dtypes: int64(3), object(9)
memory usage: 737.5+ KB

# Generate Data_CTGAN

In [6]:
# 범주형 변수 지정
categorical_features = [
    '저소득층여부',
    '교육수준',
    '혼인상태',
    '가구형태',
    '주택유형',
    '주택점유형태',
    '가구서비스',
    '노인서비스',
    '아동서비스'
]

ctgan = CTGAN(epochs = 150, batch_size = 100, verbose=True)
ctgan.fit(raw, categorical_features)

# Create synthetic data
nrow = len(raw)
synthetic_data = ctgan.sample(nrow)

Gen. (-1.11) | Discrim. (-0.22): 100%|███████████████████████████████████████████████| 150/150 [05:53<00:00,  2.36s/it]

In [7]:
synthetic_data

,저소득층여부,나이,교육수준,혼인상태,가구형태,주택유형,주택점유형태,총생활비,총소득,가구서비스,노인서비스,아동서비스
0,저소득층가구,70,초등,이혼,단독,일반단독주택,자가,226,116,미이용,이용,해당없음
1,저소득층가구,81,무학,사별,단독,다가구용단독주택,비가구원명의주택,530,156,이용,이용,해당없음
2,일반가구,34,대학,미혼,단독,다가구용단독주택,전세,3003,-3500,미이용,해당없음,해당없음
3,저소득층가구,76,고등,이혼,기타,다세대주택,보증부월세,2517,2624,이용,해당없음,해당없음
4,일반가구,47,대학,미혼,단독,다가구용단독주택,전세,3417,3415,미이용,해당없음,이용
...,...,...,...,...,...,...,...,...,...,...,...,...
7860,일반가구,85,대학,유배우,기타,다세대주택,자가,3145,937,이용,이용,해당없음
7861,저소득층가구,85,무학,사별,부자,영구임대아파트,보증부월세,1675,138,이용,이용,이용
7862,일반가구,37,전문대,미혼,단독,일반아파트,자가,1802,3297,미이용,해당없음,해당없음
7863,저소득층가구,85,무학,사별,단독,일반단독주택,자가,914,125,이용,이용,해당없음
7864,일반가구,65,전문대,사별,단독,다가구용단독주택,전세,950,1376,이용,이용,이용

In [8]:
synthetic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7865 entries, 0 to 7864
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   저소득층여부  7865 non-null   object
 1   나이      7865 non-null   int64
 2   교육수준    7865 non-null   object
 3   혼인상태    7865 non-null   object
 4   가구형태    7865 non-null   object
 5   주택유형    7865 non-null   object
 6   주택점유형태  7865 non-null   object
 7   총생활비    7865 non-null   int64
 8   총소득     7865 non-null   int64
 9   가구서비스   7865 non-null   object
 10  노인서비스   7865 non-null   object
 11  아동서비스   7865 non-null   object
dtypes: int64(3), object(9)
memory usage: 737.5+ KB

In [9]:
synthetic_data.to_csv('ctgan_generate.csv', encoding='UTF-8-sig')